<!-----------------------------------------------------
* Programmer: Lance Zotigh (lzotigh1@cnm.edu)
* Purpose: A simple program that calculates the amount of chemicals you need to add to a bucket of water (4 Hydroponics)
------------------------------------------------------->

@page "/gencalcpage"
<h3>Calculate Your Nutriton Level for your Plants</h3>

 <table class="table">
        <thead>
            <tr>
                <th>Title:</th>
                <th>startValue:</th>
                <th>Salvage Value:</th>
                <th>LifeTime:</th>
                <th>Date Added:</th>
                <th>Date Removed:</th>
                <th>Double End Value:</th>
                <th>Straight End Value:</th>
                <th>Test</th>
                <th>Edit:</th>
                <th>Remove:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var CalculatedResult in CalculatedService.CalculatedResults)
            {
                <tr>
                    <td>@CalculatedResult.Title</td>
                    <td>$@CalculatedResult.StartValue</td>
                    <td>$@CalculatedResult.SalvageValue</td>
                    <td>@CalculatedResult.LifeTime</td>
                    <td>@CalculatedResult.DateAddedToInventory.ToShortDateString()</td>
                    <td>@CalculatedResult.DateRemovedFromInventory.ToShortDateString()</td>
                    <td>@CalculatedResult.StraightEndValue</td>
                    <td>@CalculatedResult.DoubleEndValue</td>
                    <td><button type="button" @onclick="e => EditItem(CalculatedResult)">Edit</button></td>
                    <td><button type="button" @onclick="e => RemoveItem(CalculatedResult)">Remove</button></td>
                </tr>

            }
        </tbody>
    </table>
    <!--End of Main Part of page-->

@code {

}
