<!-----------------------------------------------------
* Programmer: Lance Zotigh (lzotigh1@cnm.edu)
* Purpose: A simple program that calculates the amount of chemicals you need to add to a bucket of water (4 Hydroponics)
------------------------------------------------------->
@inject Calculations CalculationsList
@inject NavigationManager NavigationManager

@page "/resultspage"
<h3>Calculate Your Nutriton Level for your Plants This is Based On the General Hydroponics 3-Part Hydroponic Base Nutrients System</h3>

<!--TODO: check the ph level chart I think it was between 8-9 somewhere-->
<h3>Be Sure To Always Check Your Ph Levels. They Should Be Between</h3>

 <table class="table">
        <thead>
            <tr>
                <th>Gallons of Water:</th>
                <th>FloraGro:</th>
                <th>FloraMicro:</th>
                <th>FloraBloom:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var Calculation in CalculationsList.AllCalcualtions)
                    {
                        <td>@Calculation.FloraBloom</td>
                        <td>@Calculation.FloraGro</td>
                        <td>@Calculation.FloraMicro</td>
                        <td>@Calculation.Gallons</td>
                        <td>@Calculation.FinalCalc</td>
                        <td><button type="button" @onclick="e => EditItem(Calculation)">Edit</button></td>
                        <td><button type="button" @onclick="e => RemoveItem(Calculation)">Remove</button></td>
                    }
            </tr>
           <!-- @foreach (var CalculatedResult in CalculatedService.CalculatedResults)
            {
                <tr>
                    <td>@CalculatedResult.Title</td>
                    <td>$@CalculatedResult.StartValue</td>
                    <td>$@CalculatedResult.SalvageValue</td>
                    <td>@CalculatedResult.LifeTime</td>
                    <td>@CalculatedResult.DateAddedToInventory.ToShortDateString()</td>
                    <td>@CalculatedResult.DateRemovedFromInventory.ToShortDateString()</td>
                    <td>@CalculatedResult.StraightEndValue</td>
                    <td>@CalculatedResult.DoubleEndValue</td>
                    <td><button type="button" @onclick="e => EditItem(CalculatedResult)">Edit</button></td>
                    <td><button type="button" @onclick="e => RemoveItem(CalculatedResult)">Remove</button></td>
                </tr>

            }-->
        </tbody>
    </table>
    <!--End of Main Part of page-->

@code {
    void EditItem(SingleCalcualtion Calcualtion)
    {}

}
