<!-----------------------------------------------------
* Programmer: Lance Zotigh (lzotigh1@cnm.edu)
* Purpose: A simple program that calculates the amount of chemicals you need to add to a bucket of water (4 Hydroponics)
------------------------------------------------------->
@page "/resultspage"

@inject Calculations CalculationsList
@inject NavigationManager NavigationManager

<h3>Calculate Your Nutriton Level for your Plants This is Based On the General Hydroponics 3-Part Hydroponic Base Nutrients System</h3>

<!--TODO: check the ph level chart I think it was between 8-9 somewhere-->
<h3>Be Sure To Always Check Your Ph Levels. They Should Be Between 6.3-6.8</h3>

 <table class="table">
        <thead>
            <tr>
                <th>Gallons of Water:</th>
                <th>FloraGro:</th>
                <th>FloraMicro:</th>
                <th>FloraBloom:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var Calculation in CalculationsList.AllCalcualtions)
                    {
                        <td>@Calculation.FloraBloom</td>
                        <td>@Calculation.FloraGro</td>
                        <td>@Calculation.FloraMicro</td>
                        <td>@Calculation.Gallons</td>
                        <td>@Calculation.FinalCalc</td>
                        <td><button type="button" @onclick="e => EditItem(Calculation)">Edit</button></td>
                        <td><button type="button" @onclick="e => RemoveItem(Calculation)">Remove</button></td>
                    }
            </tr>
        </tbody>
    </table>
    <!--End of Main Part of page-->

@code {
    void EditItem(SingleCalcualtion Calcualtion)
    {}

    void RemoveItem(SingleCalcualtion Calcualtion)
    {}
}
